.section{
    display: flex;
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section p{
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center
    
}

.section .card{
    background-color: white;
    width: 369px;
    height: 189px;
    display: flex;
    margin-top: 5%;
    margin-left: 3%;
    position: relative;
    justify-content: space-between;

    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.section .card label{
    margin-left: 3%;
    margin-top: 5%;
    float: left;


}

.section .card img{
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    margin-top: 3%;

}

.section .card .center{
    display: flex;
    position: absolute;
    align-items: center;
    margin-top: 10%;
    padding: 4%;
}

.section .card p{
    color: gray;
    padding: 3%;
    margin: 3%;
}


.box{
    display: flex;
    background-color: red;
    width: 75%;
}

.table{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 75%;
    height: 40%;
    margin-left: 14%;
    flex-wrap: 1;
    
}

.table .tabela{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

}



.table .tabela img{
    width: 50px;
    display: block;
    position: absolute;
    margin-right: 90%;
    

}

.section .tst{
    display: flex;
    position: relative;
    height: 1%;
    flex-grow: 1;
}
.section .tst h1{
    display: flex;
    height: 1%;
    position: relative;
    margin-right: 53%;
    flex-wrap: wrap;

}

#bg{
    background-color: #F4C23B;
    border-radius: 5px;
}



    